Repository zer0Kerbal/OxidizerTank, pull requests merged in 2023-05, with the labels that each got.

#53 traslated de-de.cfg to Deutsch
  GameData/Mkerb/OxidizerTank/Localization/de-de.cfg
  GameData/Mkerb/OxidizerTank/Localization/ru.cfg
Labels: type: localization, hacktoberfest-accepted

#56 Version 1.1.0.0-release - `<Dankeschön D4nisBag>` edition
  GameData/Mkerb/OxidizerTank/1.1.0.0.htm
  GameData/Mkerb/OxidizerTank/Attributions.htm
  GameData/Mkerb/OxidizerTank/Localization/de-de.cfg
  GameData/Mkerb/OxidizerTank/Localization/ru.cfg
  GameData/Mkerb/OxidizerTank/OxidizerTank.version
  GameData/Mkerb/OxidizerTank/readme.htm
  OxidizerTank.version
  changelog.md
  docs/Attributions.md
  docs/Localizations.md
  docs/ReleaseNotes/1.1.0.0.md
  json/mod.json
  readme.md
Labels: semantic: release, type: localization

#58 sw-sw translation
  GameData/Mkerb/OxidizerTank/Localization/sw-sw.cfg
Labels: type: localization, hacktoberfest-accepted

#61 Version 1.1.1.0-release - `<Tack så mycket CrispChip>` edition
  GameData/Mkerb/OxidizerTank/1.1.1.0.htm
  GameData/Mkerb/OxidizerTank/Attributions.htm
  GameData/Mkerb/OxidizerTank/Localization/sw-sw.cfg
  GameData/Mkerb/OxidizerTank/OxidizerTank.version
  GameData/Mkerb/OxidizerTank/changelog.md
  GameData/Mkerb/OxidizerTank/readme.htm
  OxidizerTank.version
  changelog.md
  docs/Attributions.md
  docs/Localizations.md
  docs/ReleaseNotes/1.1.1.0.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: release
